header {
  width: 100%;
  
}
.container {
   width: 100%;
    background-color: rgb(80, 59, 165);
    display: flex;
    right: 0px;
    bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
.icon_1 {
    width: 100px;
    padding-top: 0px;
  }
.h1 {
    margin: 20px;
    color: white;
    vertical-align: middle;
    }
.h2 {
    margin-top: 28px;
    color: white;
    
    }

    .main {
      padding-bottom: 80px;
    }
.card{
    background-color:rgb(170, 145, 218);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 10px;
    padding-bottom: 20px;
    margin: 20px auto 0 auto;
    border-radius: 50px;
    border: 10px solid rgb(214, 193, 255);
    max-width: 600px;
    }

.info {
  padding-bottom: 10px;
}
.icon_2 {
    width: 250px;
    padding: auto;
    margin-left: 0px;
  }
.info {
    margin: auto;
    font-size: 20px;
  }
body {
    margin-top: 0px;
    background-color: rgb(153, 125, 204);
  }
.table {
    line-height: 2.0;
    background-color: rgb(218, 206, 255);
    color: #291775;
    text-align: center;
    border-color: #291775;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 1px;
    margin: auto;
    width: 100%;
    max-width: 418px;
    
  }
.footer{
    position:fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
}
.footer_text_1 {
    margin-left: 100px;
    color: white;
    display: inline-block;
    margin: 10px;
  }

.footer_text_2 {
    margin-left: 50px;
    color: white;
    display: inline-block;
    margin: 10px;
  }

  @media (orientation: portrait) and (min-width: 300px) {

}